#box{
    width: 250px;
    height: 250px;
    background-color: orange;
    font-size: 13em;
    text-align: center;
    animation-name: colorchange;
    animation-duration: 2s;
}
@keyframes slidedown{
    from{transform: translateY(300%);}
}
@keyframes colorchange{
0%{background-color: red;}
20%{background-color: orange;}
40%{background-color: purple;}
60%{background-color: yellow;}
80%{background-color: pink;}
}
img{
    height:500px;
    width:500px;
    animation-name: slidedown;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
   
}
