*{
    box-sizing: border-box;
}.container{
    height: 400px;
    border: 2px solid green;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.box{
    border: 2px solid red;
    margin: 10px 0; 
}
#box-1{
    order:1;
    flex-grow: 0.5;
    flex-shrink: 1;
}
#box-4{
    order:3;
    flex-grow: 0.5;
    flex-shrink: 1;
}

 